body {
  font-family: "Arial Rounded MT Bold";
  height: 200px;
  width:800px;
  background-color: grey;
 //border:solid red 1px;
 
  

}
#topBox{
  height:90px;
  width:900px;
  position:fixed;
  background-color: gray;


}
.inputs{

  float:left;
  width:450px;
  position: fixed;
  background:gray;
  //border : solid orange 1px; 
}

.inputs span{
  display:block;
}

p {
  text-align: center;
}

.onScreen {
  float: right;
  width:300px;
 //border : solid orange 1px;
 
}
.calc{

  float:right;
 // border : solid blue 1px;
  height:14px;
   
}


.slider{
  float:right;
}

#loanBox{
  margin-left: 15px;
}

#interestBox{
  margin-left: 6px;
}

#termBox{
  margin-left:19px ; 
}



#instructions{
  float:left;
  //border: solid green 1px;
  margin-left:10px;
  margin-top: 110px;
  width:800px;
}

.title{
  color:#A4A4A4;
  font-size: 22px;
}

#pieSection{
  border: solid white 1px;
  width: 950px;
  margin-top: 250px;
  margin-bottom: 10px;
  height:700px;
  position:absolute;
}
#pie{
  height:700px;
  width:950px;
}
#explainPie{
  display:static;
  width:300px;
  float:right;
  margin-top: -150px;
 
 
}

#monthSection{
 height: 1290px;
 width: 840px;
 position:absolute;
 left:1000px;
 margin-top: 120px;
  
}
#monthlyBlurb{
   
 //border: solid blue 1px;
 width: 420px;
 margin-top: -1270px;
 margin-left: 50px;
    
}



#yearSection{
  margin-top: 120px;
  width: 200px;
  position:absolute; 
  left:2350px;
    
}

#yearlyBlurb{
  margin-top: -1270px;
  margin-left: 50px;
  width:420px;}

#fixedSection{
  margin-top:1000px;
  
  width: 970px;
  position:absolute;
}
#fixedBlurb{
  width: 400px;
  margin-top: -370px;
  margin-left: 400px;
}

.princpleColor{

 color: #0000FF;
}

.interestColor{
  color:#A901DB;
}

#blue{
  color: #0000FF;
}
#extraInfo{
  //border: solid blue 1px;
  margin-top: 20px;
  width:400px;
  height:300px;
}