body {
  font-family: "Arial Rounded MT Bold";
  height: 200px;
  width:800px;
  //border: solid green 1px;
  background-color: grey;
  

}
.inputs{
  border: solid red 1px;
  float:left;
  width:450px;
 
}

.inputs span{
  display:block;
}

p {
  text-align: center;
}

.onScreen {
  float: right;
  border: solid orange 1px;
  width:300px;
}
.onScreen span{
  float:right;
  //border : solid blue 1px;
  height:14px;
}

#pie{
 // border: solid white 1px;
}